@import "../../App.scss";
.card {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 357px;
  min-width: 300px;
  height: 314px;
  border-radius: 16px;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  padding: 24px;
  margin: 0;
}
.card:hover {
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.card-title {
  @include h1-card;
}
.card__mail-box {
  background: url(../../assets/icons/mail-icon.svg) left 0 top 10px no-repeat;
}
.card__phone-box {
  background: url(../../assets/icons/mobile-icon.svg) left 0 top 10px no-repeat;
}
.card__values {
  @include text-card;
  padding-left: 34px;
}
